#primary, #sidebar .widget, #thumbnails .rel, #thumbnails .controls, nav#navigation  {
	background: transparent url(black/bg-content.png) 0 0 repeat
}

#welcomeTeaser, .max_widget_teaser, #site-title{
	background: none;
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)"; /* IE8 */    
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000);   /* IE6 & 7 */     
	zoom: 1;
}

#thumbnails .rel, #thumbnails .controls { -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#CC000000,endColorstr=#CC000000)"; /* IE8 */  }

/** template-grid-fullsize.php **/
#primary.portfolio-fullsize-scroller,
#primary.portfolio-fullsize-grid { -ms-filter: none; filter: none; background: none !important; }