#nav-back {background:url("nav-back-black.png") repeat-x left top #434343;border-bottom-color:#575757;}
#access a {color:#888;text-shadow:1px 1px 0 #222;}
li.current_page_item a .item-left {background-image:url("item-left-black.png");}
li.current_page_item a .item-right {background-image:url("item-right-black.png");}
#access ul ul a {background:#434343;border-bottom-color:#555;} 
#access li:hover > a,
#access ul ul :hover > a {color: #fff;}
#access li.current_page_parent li a,
#access li.current_page_item ul li a, 
#access li.current_page_ancestor li.page_item a,
#access li.current_page_parent li.current_page_item .page_item a, 
#access li.current_page_ancestor li.current_page_ancestor li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {text-shadow:1px 1px 0 #222;color:#888;background:#434343;}
li.current_page_item {color:#fff;background:#4b4b4b url('item-back-black.png') bottom left repeat-x;}
#access li.current_page_parent li a:hover,
#access li.current_page_item ul li a:hover,
#access li.current_page_ancestor li.page_item a:hover, 
#access li.current_page_parent li.current_page_item a,
#access li.current_page_ancestor li.current_page_parent a,
#access li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_parent li.current_page_item .page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item a {
	color: #fff;
  background:#4b4b4b url('item-back-black.png') bottom left repeat-x;
  }
#access li.current_page_item a,#access li.current_page_parent a,#access li.current_page_ancestor a {
	color: #fff;
  background:#4b4b4b url('item-back-black.png') bottom left repeat-x;
  text-shadow:1px 1px 0 #333;
}
