#header {
	background: #444444 url(grey/head.png) repeat-x;
}
#footer {
	background: #444444 url(grey/head.png) repeat-x;
}
a, a:link, a:visited{
	color: #444444;
}
.post h2, .type-page h2, .attachment h2, .post h2 a:link, .post h2 a:visited, #page {
	color: #444444;
}
#comments h3, #respond h3 {
	color: #444444;
}
.wp-pagenavi .current {
    background-color: #444444;
}