#header {
	background: #008088 url(teal/head.png) repeat-x;
}
#footer{
	background: #008088 url(teal/head.png) repeat-x;
}
a, a:link, a:visited{
	color: #008088;
}
.post h2, .type-page h2, .attachment h2, .post h2 a:link, .post h2 a:visited, #page {
	color: #008088;
}
#comments h3, #respond h3 {
	color: #008088;
}
.wp-pagenavi .current {
    background-color: #008088;
}