ul.slideshow { list-style:none; overflow:hidden; position:relative; margin:0; padding:0;  }
ul.slideshow li { position:absolute; left:0; right:0; background-color: #000; }
ul.slideshow li.show { z-index:500; }
ul img { border:none; }
#slideshow-caption { font-size: 13px; position:absolute; bottom:0; left:0; color:#fff; background: url(images/caption_bg.png) repeat; z-index:500; text-shadow: #000 1px 1px; }
#slideshow-caption .slideshow-caption-container { padding:15px; z-index:1000; }
#slideshow-caption h3 { margin:0; padding:0; font-size:18px; }
#slideshow-caption p { margin:5px 0 0 0; padding:0; line-height: 150%; }