@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	background-image: url(images/bg.png);
	margin: 0px;
}
#gradiant {
	background-image: url(images/body.png);
	margin: auto;
	width: 1182px;
}
.clear {
	clear: both;
}
#container {
	margin: auto;
	width: 1003px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}


#header {
	background-repeat: repeat-y;
	background-position: center top;
	margin: 0px;
	width: 1001px;
	height: 85px;
}
#navigation {
	background-image: url(images/navmid.png);
	background-repeat: repeat-x;
	background-position: 0px top;
	height: 40px;
	width: 1001px;
}
#nav_left {
	background-image: url(images/navleft.png);
	background-repeat: no-repeat;
	background-position: left top;
}
#nav_right {
	background-image: url(images/navright.png);
	background-repeat: no-repeat;
	background-position: right top;
	height: 35px;
	font-size: 14px;
	padding: 5px 0 0 20px;
	font-weight: bold;
}
#nav li {
	text-align:center;
	float: left;
	width: 100px;
	color: #036;
	padding: 0 4px 0 7px;
	background-image: url(../images/separateur.png);
	background-repeat: no-repeat;
	background-position: left top;
				}
#nav li a {
	display: block;
	color: #036;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 1em;
	padding-top: 8px;
	padding-right: 10px;
	padding-left: 10px;
	height: 26px;
				}
#nav li a:hover, #nav li a:focus, #nav li a:active {
	text-decoration: overline underline;
	background-image: url(../images/nav_hover.jpg);
	background-repeat: repeat-x;
	background-position: center top;
				}
#logo1 {
	float: left;
	height: 69px;
	width: 117px;
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 5px;
}
#logo2 {
	float: left;
	height: 39px;
	width: 599px;
	background-repeat: no-repeat;
	margin-left: 20px;
	margin-top: 5px;
}
#logo3 {
	float: right;
	height: 79px;
	width: 117px;
	background-repeat: no-repeat;
	margin-top: 5px;
}
#slider {
	background-image: url(images/slider.png);
	height: 273px;
	width: 1003px;
	background-repeat: no-repeat;
}
#slidershow {
	height: 272px;
	width: 1003px;
	background-repeat: no-repeat;
	margin-top: 0.05px;
}
#photo {
	width: 1003px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}

#photo1 {
	float: left;
	height: 153px;
	width: 368px;
	margin-right: 12px;
}
#photo2 {
	float: left;
	height: 153px;
	width: 368px;
	margin-right: 12px;
}
#photo3 {
	float: left;
	height: 153px;
	width: 243px;
}

#contenu {
	width: 1003px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	border-bottom-width: 3px;
	border-bottom-style: dashed;
	border-bottom-color: #CCC;
}

.bloc {
	float: left;
	height: 153px;
	width: 368px;
	margin-right: 12px;
	text-align: justify;
	min-height: 300px;
}
.bloc h1 {
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #003366;
	color: #003366;
	font-size: 18px;
}
.bloc1 h1 {
	border-bottom-width: medium;
	border-bottom-style: solid;
	border-bottom-color: #003366;
	color: #003366;
	font-size: 18px;
}

.bloc1 {
	float: left;
	height: 153px;
	width: 243px;
	text-align: justify;
	min-height: 300px;
}


#contenu1 {
	width: 1003px;
	margin-top: 20px;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
	border-bottom-width: 3px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.diplome {
	float: right;
	height: 186px;
	width: 164px;
	margin-left: 5px;
}
#contenucon {
	float: left;
	height: 186px;
	width: 481px;
	margin-right: 10px;
	padding-right: 5px;
}
.suite {
	float: right;
	height: 15px;
	width: 63px;
	margin-right: 10px;
	margin-top: 20px;
	background-position: right bottom;
}

#nav {
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 1003px;
	font-size: 14px;
	list-style-image: none;
	list-style-type: none;
	text-decoration: none;
	vertical-align: middle;
				}
#nav a {
	color: #335c85;
	font-weight: bold;
	text-decoration: none;
}

#footer {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 1003px;
}
#footerright {
	float: right;
	height: 27px;
	width: 47px;
	margin: 10px;
}
#footerleft {
	float: left;
	width: 400px;
	margin: 10px;
	text-transform: uppercase;
	font-size: 14px;
}
