#actions {
	overflow: hidden;
	margin-top: 30px; margin-bottom: 30px;
}

#actions .box {
	float: left;
	width: 300px;
	margin-right: 30px;
	text-align: justify;
	line-height: 24px;
}

#actions .box.three {
	margin-right: 0;
}

#actions .box h2 {
	padding-left: 35px;
}

#actions .box.one h2 {
	background: url(../images/action-tool-one.png) no-repeat left center;
}

#actions .box.two h2 {
	background: url(../images/action-tool-two.png) no-repeat left center;
}

#actions .box.three h2 {
	background: url(../images/action-tool-three.png) no-repeat left center;
}

#summary {
	margin-bottom: 20px;
}

#features {
	clear: both;
	overflow: hidden;
}

#features .box {
	float: left; clear: left;
	width: 296px;
	margin-bottom: 30px;
	text-align: justify;
}

#features .box.right {
	float: right; clear: right;
}

#features img.thumb {
	margin-bottom: 10px;
}