body {
padding : 0;
margin : 0;
font : 14px Georgia, serif;
line-height : 150%;
background: #fff url(images/appleback.jpg) top center repeat-x;
color : #666;
}

a {
color : #900;
text-decoration:none;
}
a:hover {
color : #990;
}


h1 , h2, h3, h4, h5, h6{
padding : 5px 0 ;
margin : 0;
}


blockquote {
padding-left : 10px;
border-left : 3px solid #555;
color:#555;
margin : 10px 0 10px 25px;
font-style:italic;
font-family: palatino linotype, georgia, serif;
font-size:1.1em;
}


img, a img { border : none }

.right { float: right }


ul , ol{
margin: 0 0 0 20px; 
padding : 0 0 0 10px;
}

hr {
height : 2px;
border-style : none;
color : #000;
margin : 10px 0;
}

.clearboth { 
clear:both; 
height:1px; 
overflow:hidden;
}


#wrap { 
margin : 0 auto;
width : 980px; 
padding:0;
}


#header { 
width:980px;
height:400px;
margin:0 auto;
}

#menubar { 
padding:25px 0 0 0;
height:45px;
text-align:left;
width:980px;
background: url(images/apple_01.jpg) center center no-repeat;
}

ul#menu {
	margin:  0 ;
	width:100%;
	padding: 0 ;
	list-style: none;
	text-transform:uppercase;
	font : normal 12px Trebuchet MS, Arial, Sans-Serif;
	
}

ul#menu  li {
	float: left;
	padding: 0;
	margin: 0;	
}


ul#menu li a:link,
ul#menu li a:visited,
ul#menu li a:hover,
ul#menu  li a:active{
	display: block;
	padding:5px 30px 5px 20px;
	text-decoration: none;
	color: #999;
}

ul#menu li.home { 
background:url(images/home.png) center left no-repeat;}

ul#menu li.rss { 
background:url(images/feed.png) center left no-repeat;}

ul#menu li.rssc { 
background:url(images/cfeed.png) center left no-repeat;}


#logo { 
width:980px;
height:281px;
background: url(images/apple_02.jpg) center center no-repeat;
}

#logo h1 {
	font : normal 5em 'Georgia', Serif;
	color: #000;
	text-align:left;
	text-shadow: 1px 1px 1px #ccc;
	padding: 100px 0 0 0;
	}
	
#logo h1 a { color: #000; text-decoration: none}
#logo h1 a:hover { color: #000; text-decoration: none }

#logo h2 { 
font: normal 1.5em Trebuchet MS, Arial, Sans-Serif;
padding:10px 0 0 0;
text-transform:uppercase;
color:#900;
text-align:left;
}

#subbar { 
width:980px;
background: url(images/apple_03.jpg) center center no-repeat;
height:49px;
}

ul#menu2 {
	margin: 0 ;
	padding: 0;
	list-style: none;
	width: 100%;
	font : bold 14px Trebuchet MS, Arial, Sans-Serif;
	text-shadow:1px 1px 1px #fff;
	
}

ul#menu2  li {
	float: left;
	padding: 0;
	margin: 0;	
	
}



ul#menu2 ul li {
	float: none;
	position: relative;
	z-index:1000;
}

ul#menu2 li ul {
	margin: 0;
	padding: 0;
	display:none;
	list-style: none;
	position: absolute;
	
}
ul#menu2 ul ul{
	margin-left: .1em;
	position: absolute;
	border-bottom:1px solid #ccc;
	top: 0; /* if using borders, -1px to align top borders */
	left: 100%;
}

ul#menu2 * a:hover, ul#menu2 li a:active{
color: #333;
background:#eee;
}

ul#menu2 li a:link,
ul#menu2 li a:visited {
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #333;
}


ul#menu2 li a:hover,
ul#menu2 li a:active{
	display: block;
	padding: 15px;
	text-decoration: none;
	color: #333;
	background:#eee
}


ul#menu2 ul li a:link,
ul#menu2 ul li a:visited,
ul#menu2 ul li a:hover,
ul#menu2 ul li a:active {
	width: 12em;
	background:#eee;
	color:#333;
}





#left_side {
padding : 10px 20px 0 20px;
margin:0;
width :615px;
float:left;
color: #333;
}

#left_side a { color:#900; text-decoration:underline; }

.post { margin: 10px 0 50px 0; padding: 0 0 30px 0; border-bottom:2px solid #eee; }
.entry { padding: 5px 0px; text-align:justify; }


#left_side  h2 {  
font : 40px bold 'Georgia', Serif;
color: #900;
text-shadow:1px 1px 1px #fff;
margin:5px 0 0 0;

}

#left_side h2 a { color: #900; text-decoration:none; background:none;}

.indexfeature {  float:left; margin: 15px 15px 0 0; border:1px solid #900;}

#left_side img  {  padding:5px;  margin: 5px;  }


#left_side  .info {
padding : 5px;
margin : 5px 0;
font : 10px verdana, Arial, Sans-Serif;
text-shadow: 1px 1px 1px #fff; 
color : #333;
font-weight:normal;
text-transform:uppercase;
line-height: 180%;
border:1px solid #ccc;
background:#eee;
}

#left_side .info b  { color:#900; text-decoration:none; font-weight:normal;}

#left_side  .info a { color:#900; text-decoration:none; }

.comments { background: url(images/comment.png) left center no-repeat; padding: 10px 10px 10px 25px;  }
.time { background: url(images/permalink.png) left center no-repeat; padding:  10px 10px 10px 25px;  }
.category { background: url(images/categories.png) left center no-repeat; padding: 10px 10px 10px 25px;  }
.tags { background: url(images/tags.png) left center no-repeat; padding: 10px 10px 10px 25px;  }

.commentlist {
padding: 20px 0;
margin: 10px 0;
}

.commentlist li { clear:both; list-style:none;   }

.comment { padding: 10px 8px; }
.comment strong { text-align:left; }

.avatar { float:left; margin: 0 10px 10px 0;}
.says { display:none;}

cite { font-size:1.5em; font-style:normal; color:#000;}

.right_side {
float :right;
width : 275px;
overflow : hidden;
padding:0 10px;
margin:0;
color:#333;
background:#eee;
border-left:1px solid #ccc;
border-right:1px solid #ccc;
border-bottom:1px solid #ccc;
}

.right_side a { color:#090; }
.right_side .ad { margin: 0 auto; padding:0 3px; width: 268px; }
.right_side .ad  img { border:none; margin:3px; padding:0;}

.right_side p {
padding : 0 0 5px 5px;
}

.right_side .widgets { margin: 0 0 25px 0; }

.right_side   .widgets ul {
padding : 5px 0 15px 0;
margin:0;
}


.right_side   .widgets  li  {
list-style : circle;
list-style-position:inside;
margin:0;
padding: 5px 0 8px 2px;
border-bottom:1px dashed #bbb;
color:#333;
}

.right_side  .widgets  li:hover {
list-style : disc;
list-style-position:inside;
color:#000;
}

.right_side .widgets  li a{
	color: #000;
	text-decoration:none;
	
	
}
.right_side .widgets  li a:hover {
color: #000;

}
.right_side h3 {
color : #333;
font : normal 20px 'Georgia', Serif;
width : 99%;
margin:0;
text-transform:uppercase;
text-align:center;
border:1px solid #ccc;
background:#fff;
letter-spacing:1px;
}


.right_side .extra {
	padding: 10px 0 0 0;
	}


#footer {
width : 100%;
margin: 5px 0;
padding: 10px 0px; 
color : #333;
background:#eee;
line-height:250%;
font-size:13px;
text-align:center;
text-shadow:1px 1px 1px #fff;


}

#footer a {
text-decoration : none;
color:#900;
}
	
		