@charset "utf-8";
/* CSS Document */

#contener {
	margin: auto;
	width: 1000px;
	border: 1px solid #333;
	padding: 20px;
}
#header {
	padding: 15px;
	border: 1px solid #333;
	margin-bottom: 15px;
}
#h_g {
	float: left;
	height: 100px;
	width: 465px;
	border: 1px solid #333;
}
#h_d {
	float: right;
	height: 100px;
	width: 465px;
	border: 1px solid #333;
}
#middle {
	margin-bottom: 15px;
}
#m_1 {
	float: left;
	height: 500px;
	width: 250px;
	border: 1px solid #333;
}
#m_2 {
	float: right;
	width: 720px;
}
#m_2_1 {
	height: 240px;
	width: 720px;
	margin-bottom: 18px;
	border: 1px solid #333;
}
#m_2_2 {
	height: 240px;
	width: 720px;
}
#m_2_2_1 {
	float: left;
	height: 240px;
	width: 500px;
	border: 1px solid #333;
}
.clear {
	clear: both;
}
#m_2_2_2 {
	float: right;
	height: 240px;
	width: 180px;
	border: 1px solid #333;
}
#footer {
}
#f_g {
	float: left;
	height: 417px;
	width: 310px;
	border: 1px solid #333;
}
#f_m {
	float: left;
	width: 320px;
	margin-right: 27px;
	margin-left: 27px;
}
#f_d {
	float: right;
	height: 417px;
	width: 310px;
	border: 1px solid #333;
}
#f_m_1 {
	height: 200px;
	margin-bottom: 15px;
	border: 1px solid #333;
}
#f_m_2 {
	height: 200px;
	border: 1px solid #333;
}
