/*=======================================================*/
/*---------------------Default Style---------------------*/
/*=======================================================*/

 a{
color:#09504E;
text-decoration:none;
}
a:hover {
	color: #009900;
}
.bg_line {
	background:#f0f0f0 url(../images/body-line-green.png) repeat-x;
	
}
.read_more {
	color:#09504E;
}
.wrap .header_line{
 background:url(../images/slider-back-green.png);  
}
.main_wrapper {
	background:#FFFFFF;
}
.slider_wrapper {
	background:url(../images/slider-bg-green.png) repeat-x;
}
#menu .ddsmoothmenu li a {
	background:url(../images/green-bullet_list.png)0 6px no-repeat;
	color:#09504E;
}
.paging a:hover, .paging a:hover, .paging a.current {
	background: #035552;
}
.paging a{
	background: #d8cece;
}
.post .date{
	background: url(../images/date_bg-green.png) no-repeat;
	float:left;
	width:50px;
	height:50px;
	text-align:center;
	text-shadow:none;
	color:#fff;
	padding-top:8px;
	line-height:16px;
	font-size:14px;
	margin-top:5px;
	margin-right:10px;
}
/*=======================================================*/
/*----------------------Footer Style---------------------*/
/*=======================================================*/
.hr_big {
	background:#c0d0cf;
}
