#nav-back {background:url("nav-back-blue.png") repeat-x left bottom;}
#access a {color:#8dbdf9;text-shadow:1px 1px 0 #3f506d;}

#access ul ul a {background:#3c6a8a;border-bottom-color:#427999;} 
#access li:hover > a,
#access ul ul :hover > a {color: #fff;}
#access li.current_page_parent li a,
#access li.current_page_item ul li a, 
#access li.current_page_ancestor li.page_item a,
#access li.current_page_parent li.current_page_item .page_item a, 
#access li.current_page_ancestor li.current_page_ancestor li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {color:#8dbdf9;text-shadow:1px 1px 0 #3f506d;background:#3c6a8a;}

#access li.current_page_parent li a:hover,
#access li.current_page_item ul li a:hover,
#access li.current_page_ancestor li.page_item a:hover, 
#access li.current_page_parent li.current_page_item a,
#access li.current_page_ancestor li.current_page_parent a,
#access li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_parent li.current_page_item .page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item a {
	color: #fff;
  background:#5675b4;
  }
