@charset "utf-8";
/* CSS Document */

body {
	background-image: url(../images/bg_top.jpg);
	background-repeat: repeat-x;
	margin: 0px;
}
#bg_nav {
	background-image: url(../images/bg_nav.jpg);
	background-repeat: repeat-x;
	background-position: 0px 320px;
	min-height: 700px;
}
