/* Black */

a {color: #555;}

a:hover {color: #888;}

#fullmenu	{
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#333), to(#111));
	background: -moz-linear-gradient(top,  #333,  #111);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#33333', endColorstr='#111111');

}

