/* Blue */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

#fullnav #fullnav_menu > li:hover > a {
	color: #ccc;
}

#fullmenu {
	border: 1px solid #0085CF;	
	background: #0085cf; /* Old browsers */
	background: -moz-linear-gradient(top,  #6cafd8 0%, #2593ce 44%, #0085cf 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6cafd8), color-stop(44%,#2593ce), color-stop(100%,#0085cf)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* IE10+ */
	background: linear-gradient(top,  #6cafd8 0%,#2593ce 44%,#0085cf 100%); /* W3C */
}