/* Dark Blue */

a {color: #0085CF;}

a:hover {color: #5ca9d6;}

#fullnav #fullnav_menu > li:hover > a {
	color: #ccc;
}

#fullmenu {
	background: #23638f; /* Old browsers */
	background: -moz-linear-gradient(top,  #65aad5 0%, #1f69a0 50%, #23638f 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#65aad5), color-stop(50%,#1f69a0), color-stop(100%,#23638f)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #65aad5 0%,#1f69a0 50%,#23638f 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #65aad5 0%,#1f69a0 50%,#23638f 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #65aad5 0%,#1f69a0 50%,#23638f 100%); /* IE10+ */
	background: linear-gradient(top,  #65aad5 0%,#1f69a0 50%,#23638f 100%); /* W3C */
}