/* Orange */

a {color: #ff7b0d;}

a:hover {color: #ffa84c;}

#fullnav #fullnav_menu > li:hover > a {
	color: #eee;
}

#fullmenu {
	border: 1px solid #ff7b0d;
	background: #ff7b0d; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffa84c 0%, #ff7b0d 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffa84c), color-stop(100%,#ff7b0d)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* IE10+ */
	background: linear-gradient(top,  #ffa84c 0%,#ff7b0d 100%); /* W3C */}