@charset "utf-8";
/* CSS Document */

body {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
	background-image: url(images/bg.jpg);
	background-position: left top;
	margin: 0px;
	background-repeat: repeat-x;
}
#contener {
	margin: auto;
	width: 1000px;
}

#header {
	width: 1000px;
	margin-bottom: 1px;
}
#navigation {
	background-image: url(images/bg_nav.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	height: 39px;
}

#header_gauche {
	float: left;
	height: 80px;
	width: 400px;
	padding-top: 10px;
}
#header_droite {
	float: right;
	height: 90px;
	width: 500px;
}
.chp_1 {
	border: 1px solid #066;
	height: 18px;
	width: 150px;
	background: url(images/bg_chp.png);
}
#slide {
	height: 272px;
	width: 1000px;
}

.clear {
	clear: both;
}
/*********************************/
			/* Menu horizontal (items flottants) */
			/*********************************/
			#nav {
				list-style: none ;
				margin: 0 ;
				padding: 0 ;
				overflow: hidden ;	/* Création du contexte de formatage */
				}
			#nav li {
	float: left;
	margin-right: 1px;
	color: #333;
	height: 39px;
	padding-right: 10px;
	padding-left: 10px;
	background-image: url(images/separation.png);
	background-repeat: no-repeat;
	background-position: left center;
				}
#accueil {
	float: left;
	height: 34px;
	width: 45px;
	padding-top: 5px;
	padding-left: 5px;
}
img {
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
}

			#nav li a {
	display: block;
	color: #333;
	line-height: 1em;
	text-align: center;
	text-decoration: none;
	height: 21px;
	padding-top: 12px;
	padding-right: 10;
	padding-bottom: 4px;
	padding-left: 10;
	font-family: "Trebuchet MS", Arial, sans-serif;
	font-size: 1em;
	text-transform: uppercase;
				}
			#nav li a:hover, #nav li a:focus, #nav li a:active {
	text-decoration: underline;
				}
			
#middle {
	margin: auto;
}
#middle_left {
	float: left;
	width: 650px;
}
#middle_right {
	float: right;
	width: 300px;
}
#footer {
	background-image: url(images/bg_footer.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 23px;
	padding-top: 12px;
}
