

html {background:#17272d url(../images/bg.gif)}
body{ font-size:13px; font-family:Georgia ,Arial; }
.login{}
#backtoblog { display:none;}
#backtoblog a{ display:none;}
#login h1 a{display:none;}
#logo{}
#logo a{font-family: 'Lobster1.3Regular'; font-size:48px; color:#565656; text-decoration:none; text-transform:lowercase; text-shadow: 3px 3px 5px #000; cursor:pointer;width:auto; margin:0 auto; display:block;}


form { font-style:italic;
-moz-border-radius:none;
-moz-box-shadow:none;box-shadow:none;-webkit-box-shadow:none;
background:url(../images/login_form.png) no-repeat;
border:none;
margin-left:8px;
padding:16px 16px 40px; height:251px; padding-bottom:0px;}

#user_pass, #user_login, #user_email { font-size:14px;background:url(../images/comm_input.png) no-repeat; width:227px; height:29px; border:0px; margin-top:10px;}
.submit{ margin-right:20px;}
#wp-submit{ background:url(../images/login.png) no-repeat; border:none;-moz-border-radius:0px; height:29px; width:75px; margin:0;font-family: 'Lobster1.3Regular'; color:#fff; text-transform:lowercase; font-size:16px;}
.forgetmenot{ width:260px;}
.login #nav a, .login #nav a:hover{ text-shadow:none; color:#fff!important; text-decoration:none; font-style:italic; font-size:13px; font-family:Georgia ,Arial;}


/*Font: 'Wrexham Script Regular*/
@font-face {
	font-family: 'Lobster1.3Regular';
	src: url('../font/Lobster_1.3-webfont.eot');
	src: local('?'), url('../font/Lobster_1.3-webfont.woff') format('woff'), url('../font/Lobster_1.3-webfont.ttf') format('truetype'), url('../font/Lobster_1.3-webfont.svg#webfontcOtP3oQb') format('svg');
	font-weight: normal;
	font-style: normal;}