@media projection, screen { .ui-tabs-hide { display: none; } }

#tab-2, #tab-3 { display: none; }
.ui-tabs #tab-2, .ui-tabs #tab-3 { display: block; }
#tab-2.ui-tabs-hide, #tab-3.ui-tabs-hide { display: none; }

.ui-panel {
	width: 792px;
	margin: 15px 0; padding: 0;
}

.ui-head {
	height: 80px;
	margin: 0; padding: 0;
	background: url(../images/head.png) no-repeat left top;
}

.ui-head ul {
	list-style: none;
	margin: 0; padding: 1px 0 0 284px;
	height: 77px;
}

.ui-head li {
	float: left;
	margin: 0;
	height: 77px;
}

.ui-head li.ui-tabs-selected {
	padding-left: 4px;
	background: url(../images/menu_current_left.png) no-repeat left top;
}

.ui-head li a {
	height: 66px;
	margin: 0; padding: 11px 28px 0 28px;
	display: block;
}

.ui-head li.ui-tabs-selected a {
	padding-left: 24px;
	background: url(../images/menu_current_right.png) no-repeat right top;
}

.ui-head li a span {
	display: block;
	height: 53px;
	text-indent: -999999px;
}

.ui-head li a#tab1 span { width: 46px; background: url(../images/tab1.png) no-repeat center top; }
.ui-head li a#tab2 span { width: 73px; background: url(../images/tab2.png) no-repeat center top; }
.ui-head li a#tab3 span { width: 105px; background: url(../images/tab3.png) no-repeat center top; }

.ui-head li.ui-tabs-selected a#tab1 span { background: url(../images/tab1-active.png) no-repeat center top; }
.ui-head li.ui-tabs-selected a#tab2 span { background: url(../images/tab2-active.png) no-repeat center top; }
.ui-head li.ui-tabs-selected a#tab3 span { background: url(../images/tab3-active.png) no-repeat center top; }

.ui-body {
	width: 750px;
	margin: 0 auto; padding: 17px 19px;
	overflow: hidden;
	background: url(../images/content.png) repeat-y left top;
}

.ui-main {
	width: 750px;
	margin: 0; padding: 0;
	background: url(../images/main.png) repeat-y left top;
	overflow: hidden;
}

#tab-1 {
	width: 728px; height: 121px;
	padding: 19px 11px 0 11px;
	background: url(../images/content-tab1.png) no-repeat left top;
}

.ui-body .block {
	float: left;
	text-decoration: none;
	color: #a9a9a9;
	font: normal 14px/20px Arial, Helvetica, sans-serif;
}

.ui-body .block.upgrade	{
	width: 292px; height: 29px;
	margin-right: 9px; padding: 45px 0 0 88px;
	background: url(../images/upgrade.png) no-repeat left top;
}

.ui-body .block.upgrade-all	{
	width: 274px; height: 27px;
	padding: 45px 0 0 65px;
	background: url(../images/upgrade-all.png) no-repeat left top;
}

.ui-body .block span.price {
	color: #000000;
	font-weight: bold;
}










.ui-cats {
	float: left;
	width: 253px;
	background: url(../images/sub-end1.png) no-repeat bottom;
	list-style: none;
	margin: 0 0px 0 1px; padding: 0 0 6px 0;
	height: auto;
}

.ui-cats h3 {
	margin: 0; padding: 0;
	font: normal 25px "Myriad Pro", Arial, Helvetica, sans-serif;
	background: #5e5e5e url(../images/h3-sub-options1.png) no-repeat;
	width: 0; height: 0;
	text-indent: -999999px;
}

.ui-cats li {
	margin: 0;
}

.ui-cats li a {
	display: block; outline: none;
	height: 37px; padding: 0 17px;
	font: 13px/37px Tahoma, Geneva, sans-serif;
	background: url(../images/h3-sub-tab.png) repeat-y left top;
	border: 0; font-weight: ;
	text-transform: none; text-decoration: none;
	text-shadow: #FFFFFF 1px 1px;
	border-top: 1px solid #FFFFFF;
	border-bottom: 1px solid #c8c5bf;
	color: #555;
}

.ui-cats li a:hover {
	color: #555;
}

.ui-cats li.ui-tabs-selected a {
	/*color: #292929;
	text-shadow: #ededed 1px 1px;*/
	background: url(../images/sub-active.png) repeat-y left top;
}

.ui-options {
	float: left;
	padding: 0 0 15px 0; margin-bottom: 45px;
	width: 485px; min-height: 285px;
	background: #f9f9f9;
	border: 1px solid #cacaca;
}

.ui-options h3 {
	height: 38px; line-height: 38px;
	padding: 0; margin: -55px 0 10px -16px;
	position: relative; z-index: 100px;
	text-shadow: #ffffff 1px 1px;
	text-transform: uppercase;
	font-weight: normal;
}

.ui-options .option {
	width: 234px;
	margin: 0; padding: 0 15px 5px 0;
	float: left;
}

.ui-options .option.typography {
	padding-bottom: 15px;
}

.ui-options .option label {
	margin: 0; padding: 3px 0;
	float: left;
	display: inline-block;
	cursor: default;
}

.typo-right {
	float: right;
	width: 210px;
	margin-right: 10px;
	border: 1px solid #CFCFCF;	
}

.typo-right select {
	
}
.typo-field {
	float: left;
	width: 200px;
	padding: 5px;
	background: #F2F2F2 url(../images/typo.jpg) repeat-x left top;
	border-bottom: 1px solid #CFCFCF;
}
.ui-options .option .typo-right label {

	

}

.ui-options .option small {
	color: #999999;
	display: block; clear: both;
}

.ui-options .option select,
.ui-options .option textarea,
.ui-options .option input.xtext,
.ui-options .option input.text,
.ui-options .option input.mtext,
.ui-options .option input.ltext {
	margin: 0;
	float: right;
	-moz-border-radius: 0;
	-khtml-border-radius: 0;
	-webkit-border-radius: 0;
	border-radius: 0;
	background: #FFFFFF url(../images/inputs.png) repeat-x left bottom;
	border-bottom: 1px solid #CFCFCF;
}

:focus {
	outline: 0;
	
}
.ui-options small {
}

.ui-options .option.file object {
	float: right;
	margin-left: 5px;
}

.ui-options .option select {
	display: inline-block;
}

.ui-options .option input.xtext {
	width: 50px;
	text-align: right;
}

.ui-options .option input.text {
	width: 120px;
	text-align: right;
}

.ui-options .option input.mtext {
	width: 200px;
}

.ui-options .option input.ltext {
	width: 300px;
}

.ui-options .option textarea {
	height: 100px;
	padding: 4px;
	line-height: 18px;
}

.ui-options .option.wide textarea {
	width: 483px;
}

.ui-options .option.checkbox {
	background: none;
}

.ui-options .option.checkbox input {
	float: left;
	margin-right: 5px;
}

.ui-options .option.checkbox label {
	float: right;
	width: 210px;
	line-height: 13px;
}

.ui-options .option.checkbox span {
	display: none;
}

.ui-options .option input:focus,
.ui-options .option select:focus,
.ui-options .option textarea:focus {
	border: 1px solid #b3b2b2;
}

#wpcontent .ui-options .option.multiselect .select,
#wpcontent .ui-options .option.multi-catlist .select,
#wpcontent .ui-options .option.multi-pagelist .select {
	height: auto; min-width: 100px;
}

.ui-options .option.wide,
.ui-options .option.file,
.ui-options .option.textarea,
.ui-options .option.selectpages,
.ui-options .option.style,
.ui-options .option.logo-image,
.ui-options .option.adbox-side-position,
.ui-options .option.adbox-posts-position,
.ui-options .option.adbox-posts-align {
	width: 483px;
}

.ui-options .heading {
	width: 470px;
	padding-top: 12px; padding-bottom: 10px;
	line-height: 14px;
}

.ui-options .heading label {
	font-weight: bold;
	padding-bottom: 5px;
}

.ui-options .sub-options,
.ui-options .sub-options-off {
	clear: both; overflow: hidden;
	padding-top: 6px; margin-bottom: -5px;
	width: 498px;
}








.ui-tools {	
	width: 495px;
	margin: 0 auto; padding: 0 0px;
	overflow: hidden;
}

.ui-tools .submit {
	margin: 0;
	padding: 4px 0 4px 4px;
	float: right;
}

.ui-tools .submit input {
	height: 20px;	
}

.ui-tools .reset {
	margin: 0;
	padding: 4px 0 4px 4px;
	float: left;
}

.ui-tools .submit reset {
	height: 20px;
	float: left;
}

.ui-tools #save {
	float: right;
}

.ui-tools #reset {
	float: left;
}





.ui-foot {
	width: 661px; height: 63px;
	margin: 0 0 0 -21px; padding: 22px 75px 0 105px;
	background: url(../images/foot.png) no-repeat left top;
	text-transform: uppercase;
	color: #777777;
	font: normal 12px Arial, Helvetica, sans-serif;
}

.ui-foot a {
	color: #fde579;
	text-decoration: none;
}

.ui-foot a:hover {
	text-decoration: underline;
}

.ui-foot .ver {
	float: right;
}








a.locked {
	width: 22px;
	height: 26px;
	margin: 0 8px;
	padding: 0;
	float: left;
	background: url(../images/lock.png) left top no-repeat;
}
a.locked:hover, a.unlocked {
	background-position: left bottom;
}
span.nolock {
	width: 22px;
	height: 20px;
	margin: 0;
	padding: 0;
	float: right;
	display: block;
}

.response {
	padding: 5px;
	float: right;
	position: relative;
	font-size: 10px;
	z-index: 100000;
}

.response_in {
	max-width: 200px;
	padding: 5px 8px 4px 8px;
	text-align: center;
	color: #FFF;
	background-color: #656565;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

.response_arrow {
	width: 5px;
	height: 9px;
	margin-top: -4px;
	position: absolute;
	background: url(../images/tipsy.png) right top no-repeat;
	top: 50%;
	right: 0;
}



.ui-options .option .text.color {
	width: 122px; height: 24px;
	background: url(../images/colorpicker/select.png) no-repeat 0 0;
	border: 0;
	border-radius: 0;
	text-align: left;
	padding-left: 30px;
	box-sizing: border-box;
	cursor: pointer;
}

.left { float: left; }
.right { float: right; }
.clear { clear: both; }

/* Upload Tool */

.ui-options .uploader {
	float: right;
	width: 301px;
}

.ui-options .uploader .file {
	float: left;
	width: 222px;
}

.ui-options .uploadifyQueueItem {
	position: absolute;
	background-color: #ffffff;
	font: 11px Verdana, Geneva, sans-serif;
	width: 209px; padding: 1px 1px 1px 1px; margin: 3px 0 0 5px;
}
.uploadifyError {
	background-color: #FDE5DD !important;
	border: 2px solid #FBCBBC !important;
}
.uploadifyQueueItem .cancel {
	float: right;
}

.uploadifyQueue .completed {
	background-color: #ffffff;
}
.uploadifyProgress {
	background-color: #E5E5E5;
	margin-top: 2px;
	width: 100%;
}
.uploadifyProgressBar {
	background-color: #0099FF;
	height: 2px;
	width: 1px;
}