@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 12px;
	color: #333;
}

#slider {
	background-image: url(../images/bg_slider.jpg);
	background-repeat: repeat;
	background-position: left top;
	height: 596px;
	width: 100%;
}
#slider_in {
	margin: auto;
	height: 596px;
	width: 1000px;
}
#header {
	background-image: url(../images/bg_top.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 172px;
	width: 100%;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 0px;
}
#header_in {
	margin: auto;
	height: 172px;
	width: 1000px;
}
#connexion {
	background-image: url(../images/bg_top_2.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 43px;
	text-align: right;
}
.chp_txt {
	color: #333;
	background: url(../images/bg_chp.png);
	background-repeat: repeat;
	padding: 3px;
	width: 150px;
	border: 1px solid #999;
	height: 15px;
}
#login {
	background-image: url(../images/user.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: right;
	height: 36px;
	width: 430px;
	margin-top: 5px;
}
#logo {
	height: 50px;
	width: 320px;
	padding: 5px;
}
#nqvigation {
	background-image: url(../images/bg_nav.png);
	background-repeat: no-repeat;
	background-position: right top;
	float: right;
	height: 29px;
	width: 895px;
	margin-top: 7px;
}
#middle {
	background-image: url(../images/ombre.png);
	background-repeat: no-repeat;
	background-position: center top;
	width: 100%;
	position: absolute;
	z-index: 100;
	left: 0px;
	top: 500px;
	min-height: 400px;
	margin: auto;
	min-width: 1000px;
}

#middle_in {
	margin: auto;
	width: 962px;
}
#title {
	background: url(../images/bg_titlte_slider.png);
	background-repeat: repeat;
	height: 23px;
	padding-top: 10px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	color: #f60;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
#contenu {
	background-color: #FFF;
	min-height: 400px;
	border-top-width: 3px;
	border-right-width: 3px;
	border-left-width: 3px;
	border-top-style: solid;
	border-right-style: solid;
	border-left-style: solid;
	border-top-color: #CCC;
	border-right-color: #CCC;
	border-left-color: #CCC;
}
#contenu_top {
	padding: 5px;
}
#contenu_top_left {
	background-image: url(../images/ombre_2.png);
	float: left;
	width: 678px;
	min-height: 200px;
	background-repeat: no-repeat;
	background-position: center bottom;
}
.clear {
	clear: both;
}
#contenu_top_left h1 {
	background-image: url(../images/fleche_1.png);
	background-repeat: no-repeat;
	background-position: left center;
	margin: 0px;
	color: #f60;
	padding-left: 40px;
	padding-top: 8px;
	padding-bottom: 8px;
	text-transform: uppercase;
}
.image_right {
	margin-bottom: 5px;
	margin-left: 5px;
}

#contenu_top_left p {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f60;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 30px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: justify;
}




#contenu_top_right {
	float: right;
	width: 260px;
}
#contenu_top_right h1 {
	margin: 0px;
	color: #f60;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../images/fleche_2.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: left center;
	height: 20px;
	padding-top: 5px;
}
#contenu_top_right p {
	border-left-width: 1px;
	border-left-style: solid;
	border-left-color: #f60;
	margin-top: 5px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
	padding-left: 7px;
	padding-right: 7px;
	text-align: justify;
}
#contenu_bottom {
	padding: 10px;
}
.contenu_bottom {
	float: left;
	width: 300px;
	padding-right: 10px;
}
.contenu_bottom p {
	margin: 0px;
}

.contenu_bottom h1 {
	margin: 0px;
	color: #f60;
	text-transform: capitalize;
	font-size: 14px;
	font-weight: bold;
	background-image: url(../images/fleche_2.png);
	background-repeat: no-repeat;
	padding-left: 25px;
	background-position: left center;
	height: 20px;
	padding-top: 5px;
}
#footer {
	background-image: url(../images/bg_footer.png);
	background-repeat: repeat-x;
	background-position: left top;
	height: 33px;
}
