+ $(SITEROOT)/modules EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/plugins EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/administrator/includes EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/includes EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/libraries EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
$(SITEROOT)/configuration.php CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
+ $(SITEROOT)/templates EXTENSIONS(.php) CLASS IGNORE_PREFIX("_") METHOD IGNORE_PREFIX("_") PROPERTY IGNORE_PREFIX("_") FUNCTION IGNORE_PREFIX("_") VARIABLE IGNORE_PREFIX("_")
"C:/Users/ZENITH/AppData/Roaming/Adobe/Dreamweaver CS5/fr_FR/Configuration/CodeHints/CMS/Joomla/"
