a, a:link, a:visited,
.post h2, .type-page h2, .post h2 a:link, .post h2 a:visited, .arh,
#sidebar a:link, #sidebar a:visited,
#comments h3, #respond h3, .comment-reply-link
{
	color: #7600ba;
}
#sidebar ul li h2 {
	background-color: #7600ba;
}
#header, #slide_panel, .postcomments, #footer {
	background-color: #7600ba;
}