.boxgrid{ 
	width: 290px; 
	height: 250px; 
	margin:6px 9px 6px 0; 
	float:left; 
	border:4px solid #FFF;
	overflow: hidden; 
	position: relative; 
}
.boxgrid img{ 
		position: absolute; 
		top: 0; 
		left: 0; 
		border: 0; 
}
.boxgrid p{ 
		
		color:#999; 
		line-height:120%;
		padding: 0 10px 5px;
		margin:0;
}

.boxgrid p a.title {
	font-size:14px;
	color:#CED535;

}
	
.boxcaption{  
	padding-top:10px;
	font-size:11px;
	float: left; 
	position: absolute; 
	background: #000; 
	height: 100px; 
	width: 100%; 
	opacity: .85; 
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.captionfull .boxcaption {
		top: 250px;
		left: 0;
}
.caption .boxcaption {
		top: 190px;
		left: 0;
}
