/* CSS Document */
#body
{
background-image:url(abstract-life_1280x1024.jpg);
}
#englobe
{
background-color:#000000;
width:90%;
height:540px;
margin-left:80px;
}
#labagniere
{
width:90%;
height:25%;
background-color:#0000FF;
text-align:center;
margin-left:5%;
margin-right:5%;
background-image:url(ae.jpg);
}
#menu td
{
text-align:center;
}

#lemenu
{
background-color:#009933;
width:90%;
margin-left:5%;
}
#separe
{
background-color:#FFFF00;
text-align:center;
margin-left:5%;
margin-right:5%;
}
#laracine
{
width:5%;
height:650px;
margin-left:5%;
margin-right:5%;
text-align:center;
}
#laracine td
{
background-color:#FF9900;
width:100px;
height:150px;
text-align:center;
}
#lapage
{
text-align:center;

}


