
/*#adminmenu a {color: #000;}
a,  #poststuff #edButtonPreview, #poststuff #edButtonHTML, #the-comment-list p.comment-author strong a, #media-upload a.del-link, #media-items a.delete, .plugins a.delete, .ui-tabs-nav a {
color:#2E79E1;
}*/
	.ui-tabs .ui-tabs-hide {
	     display: none;
	}
	
	#interfacetitle{background: #ddd;	padding: 8px;}
	#optionstable{
		width: 920px;
		margin: 20px auto;
		padding:0;
		text-shadow: #fff 0 1px 0;
	}
	#optionstable td {
		
		font-family: helvetica, arial;
	}
	#optionstable input:focus{border: 1px solid #888;}
	#optionstable input[readonly]  {
		background-color:#ddd;
		border: 1px solid #ccc;
		color: #555;
	}
	colors...0100610 (line 1)
	
	.pagelines_panel{
		position: relative;
		z-index: 0;
	}
	.ajax_save_confirmation {
			text-shadow: #000 0px -1px 0;
		color: #fff;
		font-size: 30px;
		padding: 65px;
		background: transparent url('../images/admin/bg_option_confirm.png') repeat 0 0;
		z-index: 100;
		position: absolute;
		left: 280px;
		top: 200px;
		-moz-border-radius: 25px;
		-khtml-border-radius: 25px;
		-webkit-border-radius: 25px;
		border-radius: 25px;
	}
	.ajax_save_confirmation div{
		background: transparent url('../images/admin/confirm-check.png') no-repeat left center;
		padding-left: 60px;
		height: 50px;
		line-height: 50px;
		
	}
	.message_area {
		height: 35px;
	}
	.wrap .updated, .wrap .error {
		margin:0;
		margin-bottom: 8px;
	}
	div.form_title{
		font-size: 20px;
		padding-top: 3px;
		margin-bottom: 8px;
		font-style: normal;
		font-weight:bold;
		color: #000;
	}

	#tabs {
		border: 1px solid #ccc;
		border-top: none;
		border-bottom: none;
		background: #eee url('../images/admin/bg_tabs.png') repeat-y left top;
	}
	.tabtitle {
		padding: 16px 0 0 35px;
		font-size: 1.3em;
		font-weight: bold;
		color: #000;
		width: 100%;
	}
	#tabsnav {
		float: left;
		width: 170px;
		margin:0 -170px 0 0;
	}
		#tabsnav li{
			margin: 0;
			padding:0;
		}
		#tabsnav li a, #tabsnav li span.graphic{
			font-weight:bold;
			padding: 8px;
			display: block;
			text-decoration:none;
			color: #000;
			border-bottom: 1px solid #ddd;
			border-top: 1px solid #fff;
			border-left: 1px solid transparent;
		}
			#tabsnav li span.graphic.top{
				border-top:1px solid #fff;
				background: none;
				height: 20px;
				padding: 0;
			}
			#tabsnav li span.graphic.bottom{
				border-bottom:none;
				background: none;
				height: 0;
				padding:0;
			}
			
			#tabsnav li a:hover{
				background:#f7f7f7;
	
				border-top: 1px solid #fff;
				border-left: 1px solid #fff;
				border-right: none;
				border-bottom: 1px solid #ddd;
			}
			#tabsnav .ui-state-active a, #tabsnav .ui-state-active a:hover{
					border-top: 1px solid #aaa;
					border-left: 1px solid #aaa;
					border-right: none;
					border-bottom: 1px solid transparent;
					background: #dedede;
			}
			#tabsnav li a span {
				padding-left: 25px;
				display: block;
			}
			#tabsnav li.listsave {
				padding: 10px 30px;
				border-top: 1px solid #ddd;
				margin-top: 2em;
				text-align: center;
			}
			
		/* @ Tab Navigation Icons */
		
			/* Default Case */
				.tabnav-element span{background: transparent url(../images/admin/wrench.png) no-repeat 0 0;}
				.tabtitle{background: transparent url(../images/admin/wrench.png) no-repeat 10px 16px;}
			
			.sidebar_options span{background: transparent url(../images/admin/sidebar.png) no-repeat 0 0;}
			#sidebar_options .tabtitle{background: transparent url(../images/admin/sidebar.png) no-repeat 10px 16px;}
			
			.display_options span{background: transparent url(../images/admin/color.png) no-repeat 0 0;}
			#display_options .tabtitle{background: transparent url(../images/admin/color.png) no-repeat 10px 16px;}
		
			.header_and_nav span{background: transparent url(../images/admin/header.png) no-repeat 0 0;}
			#header_and_nav .tabtitle{background: transparent url(../images/admin/header.png) no-repeat 10px 16px;}
			
			.pages_and_posts span{background: transparent url(../images/admin/page2.png) no-repeat 0 0;}
			#pages_and_posts .tabtitle{background: transparent url(../images/admin/page2.png) no-repeat 10px 16px;}
			
			.media_options span{background: transparent url(../images/admin/feed.png) no-repeat 0 0;}
			#media_options .tabtitle{background: transparent url(../images/admin/feed.png) no-repeat 10px 16px;}
			
			.footer_options span{background: transparent url(../images/admin/footer.png) no-repeat 0 0;}
			#footer_options .tabtitle{background: transparent url(../images/admin/footer.png) no-repeat 10px 16px;}
			
			.custom_code span{background: transparent url(../images/admin/code.png) no-repeat 0 0;}
			#custom_code .tabtitle{background: transparent url(../images/admin/code.png) no-repeat 10px 16px;}
			
			.text_options span{background: transparent url(../images/admin/quotation.png) no-repeat 0 0;}
			#text_options .tabtitle{background: transparent url(../images/admin/quotation.png) no-repeat 10px 16px;}
			
			.global_options span{background: transparent url(../images/admin/compass.png) no-repeat 0 0;}
			#global_options .tabtitle{background: transparent url(../images/admin/compass.png) no-repeat 10px 16px;}
				
			.welcome span{background: transparent url(../images/admin/welcome.png) no-repeat 0 0;}
			#welcome .tabtitle{background: transparent url(../images/admin/welcome.png) no-repeat 10px 16px;}
			
			.templates span{background: transparent url(../images/admin/layout-design.png) no-repeat 0 0;}
			#templates .tabtitle{background: transparent url(../images/admin/layout-design.png) no-repeat 10px 16px;}
			
			.layout span{background: transparent url(../images/admin/onetemplate.png) no-repeat 0 0;}
			#layout .tabtitle{background: transparent url(../images/admin/onetemplate.png) no-repeat 10px 16px;}
			
			.feature_settings span{background: transparent url(../images/admin/wrench.png) no-repeat 0 0;}
			#feature_settings .tabtitle{background: transparent url(../images/admin/wrench.png) no-repeat 10px 16px;}
			
			/* Feature Icon Rules */
				.feature span{background: transparent url(../images/admin/docf.png) no-repeat 0 0;} 
				.featuretab .tabtitle{background: transparent url(../images/admin/docf.png) no-repeat 10px 16px;}
			
				.fbox span{background: transparent url(../images/admin/docb.png) no-repeat 0 0;}
				.fboxtab .tabtitle{background: transparent url(../images/admin/docb.png) no-repeat 10px 16px;}
			
			#tabsnav.readme li a span{background: transparent url(../images/admin/bullet_black.png) no-repeat 0 0;}
		
			
			#install .tabtitle{background: transparent url(../images/admin/arrow-down.png) no-repeat 10px 16px;}
			
			#featurepage .tabtitle{background: transparent url(../images/admin/images-stack.png) no-repeat 10px 16px;}
			
			#createposts .tabtitle{background: transparent url(../images/admin/sticky-note-pin.png) no-repeat 10px 16px;}
			#custompage .tabtitle{background: transparent url(../images/admin/hammer-screwdriver.png) no-repeat 10px 16px;}
			#themeoptions .tabtitle{background: transparent url(../images/admin/tick.png) no-repeat 10px 16px;}
			
			#ads .tabtitle{background: transparent url(../images/admin/money.png) no-repeat 10px 16px;}
			
			
			#flickr .tabtitle{background: transparent url(../images/admin/flickr.png) no-repeat 10px 16px;}
			
			#forms .tabtitle{background: transparent url(../images/admin/notebook-arrow.png) no-repeat 10px 16px;}
			
			#faq .tabtitle{background: transparent url(../images/admin/question-balloon.png) no-repeat 10px 16px;}
			
			
			
			
		
	
	#thetabs {
		margin-left: 170px;
		width: 743px;
		background: #f7f7f7;
		border-left: 1px solid #ccc;
	}

	.tabinfo {
		float: left;
		width: 99%;
		
		border-left: 1px solid #fff;
		border-top:1px solid #fff;
	}
	.inforow {
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		padding: 15px;
		margin: 15px;
		width:650px;
	
	}
		.inforow p, .inforow ul{
			font-size: 1em;
			line-height: 1.3em;
		}
		.inforow ul {
			margin: .4em 0 1em 0;
		}
		.inforow ul li{
			list-style-type: square;
			margin-left: 20px;
		}
	
	.optionrow {
		padding: 15px 0;
		width: 100%;
	}
		.optiontitle {
			padding: 10px 15px;
			background: #eee;
			border-top: 1px solid #eaeaea;
			border-bottom: 1px solid #eaeaea;
			margin-bottom: 15px;
		}
		
		.optionicon {
			float:left;
			margin: 2px 10px 6px 0;
		}
		.optioninputs {
			margin-left: 20px;
		}
		.context {
			font-size: 11px;
			font-weight:bold;
			margin-top: 5px;
		}
		
		.insidebox.context{
			margin: 5px;
			padding: 10px;
			background: #eee;
		}
		.context .button-secondary, .context .button-primary {margin-right: 10px;}
		

	.theinputs {
		width: 55%;
		margin: 0 2%;
		float: left;
		text-align: left;
	}
	.theinputs .button-primary {
	}
	.fullinput {
		width: 98%;
		margin: 0 2%;
		float: left;
	}
	.theexplanation {
		margin: 0 0 0 10px;
		width: 34%;
		float:left;
		border-left: 1px solid #DDD;
		padding: 10px;
	}
	.theexplanation p{
		font-size: 11px;
		margin: 5px 0;
	}
	
	
	.wideinputs .theinputs{
		width: 727px;
		margin: 0 10px 0 0;
	}
	
	 .wideinputs .theexplanation {
		border-left: none;
		margin-left: 30px;
		width: 633px;
		background: #efefef;
		font-size: 11px;
	}
	
		.wideinputs .theexplanation .theexample {
			width: 200px ;
			margin-top: -23px;
			margin-left: 8px;
			position:relative;
			float:right;
			padding: 10px ;
			border: 1px solid #ddd;
			background: #e5e5e5;
		}
	.text_content p, .text_content ul{
		font-size: 1em;
	}
	
	.text_content ul li p, .text_content ul li ul li{margin-left: 10px;}

	.optionrestore {
		padding: 5px;
		color: #999;
	}
	#optionsheader {
		background: #e5e5e5 url('../images/admin/bg-optionheader.jpg') repeat-x 0 0;
		border: 1px solid #ccc;
		border-top: none;
		border-bottom: 1px solid #aaa;
	}
	
		#optionstop{
			padding: 3px;
		}
		
		.optionsheader_plink{
			float: right;
			margin: 10px 10px 0 0;
			display: inline;
			border: 1px solid #c6c6c6;
			border-right: 1px solid #c1c1c1;
			border-bottom: 1px solid #c1c1c1;
			background: url('../images/sprite-greyleaf-30.jpg') no-repeat 0 0;
			text-indent:-2000em;
			width: 30px;
			height: 30px;
		}
		.optionsheader_plink:hover {
			background: url('../images/sprite-greyleaf-30.jpg') no-repeat 0 -30px;
		}
		.optionsheader_plink:active {
			background: url('../images/sprite-greyleaf-30.jpg') no-repeat 0 -60px;
		}
		.options_intro {
			float: left;
			margin: 10px 8px ;
			padding-left: 22px;
			background: transparent url(../images/admin/welcome.png) no-repeat 0 1px;
		}
			.options_intro small{
				font-size: 11px;
			}
	#optionsheader p{
		margin: 0;
		
	}
	#optionssubheader{
		text-align: left;
		background: #eaeaea;
	}
	#optionssubheader .subheader_right{
		text-align: right;
		float: right;
		width: 400px;
	}
	
	#optionssubheader .subheader_links{
		font-size: 13px;
	
		float:left;
		width: 350px;
	}
	#optionssubheader .subheader_links a{
		padding: 2px 0 1px 22px;
		font-weight: bold;
		text-shadow: #fff 0 1px 0;
		text-decoration: none;
		color: #444;
		margin-right:20px;
		line-height: 25px;
		overflow: visible;
	}
	#optionssubheader .subheader_links a:hover{
		text-decoration: underline;
		text-shadow: none;
		color: #000;
	}
	
	#optionssubheader .subheader_links a.sh_docs{
		background: transparent url(../images/admin/reports.png) no-repeat 0 0px;
	}
	#optionssubheader .subheader_links a.sh_forum{
		background: transparent url(../images/admin/question-balloon.png) no-repeat 0 0px;
	}
	#optionssubheader .subheader_links a.sh_pro{
		background: transparent url(../images/favicon-pagelines.png) no-repeat 0 0px;
	}
	
	#optionssubheader div.padding{
		padding: 5px 10px ;
	}
	#optionsfooter{
		background: #eee;
		border: 1px solid #ccc;
		border-top: none;
		margin-bottom: 1em;
	}
	#optionsfooter .theinputs{
		width: 93%;
		padding: 10px;
		text-align:right;
	}
	#optionsfooter .admin_footerlink{float: left;display: block; font-size: 10px; color: #999;}
	#optionsfooter .button-primary {
	}
	
/* Pro Version Billboard */

	#vpro_billboard{
		background: #eee;
		padding: 13px;
		border:3px solid #ddd;
		font-size: 10px;
		height: 85px;
	}
		#vpro_billboard .vpro_desc{
			float: left;
			width: 520px;
		}
		
		#vpro_billboard .vpro_thumb {
			display: block;
			float:right;
			width: 125px;
			border: 2px solid #ddd;
		}

/* PAGE OPTIONS */
	
	.pagelines_pagepost_options{
		margin: 25px 20px;
		border:1px solid #eee;
		border-bottom: none;
	}
	.page_option {
		background: #f7f7f7;
		padding: 15px 8px 15px 27px;
		border-top: 1px solid #fff;
		border-bottom: 1px solid #ddd;
	}
		.page_option .option-description {
			float: left;
			width: 250px;
			padding-right: 15px;
			border-right: 1px solid #ddd;
			line-height: 1.8em;
		}
			.page_option .option-description small {
				display: block;
				padding-left: 5px;
			}
		.page_option .option-inputs {
			float: left;
			padding: 5px 15px;
			border-left: 1px solid #ddd;
			margin-left: -1px;
			width: 600px;
			line-height: 1.8em;
		}
		.page_option .admin_checkbox{margin-left:-20px;float:left;display:inline;}
		
		.page_option p{
			margin: 7px 0;
		}
		.page_option .page_option_text_exp{
			float:left;
			padding: 16px 10px 16px 0;
			width: 40%;
		}
		.page_option textarea {
			float:left;
			width: 100%;
			height: 80px;
			margin:4px 0;
			font-size: 10px;
		}
		.page_option .further_explanation {
			float:left;
			width: 50%;
			padding: 20px 10px;
			background: #eee;
			border: 1px solid #ddd;
		}

/* @ Layout Builder */
	.layouteditor {
		display: none;
	}
	.layouteditor.selectededitor{
		display: block;
	}
	.layout-main-content{
		height: 300px;
		margin: 10px;
		font-size: 12px;
		color: #333;
		border: 1px solid #c1c1c1;
		background: #eee;
		overflow: hidden;
		font-weight: bold;
	}
	.layout-inner-content{
		width: 480px;
		height: 300px;
	}

	.locontent {
		background: #fff;
	}
	.loelement-pad{	
		overflow: hidden;
		text-align: center;
		padding: 5px;
		font-size: 1em;

	}

	.loelement-info{
		padding: 10px 0;
	}

	.loelement-pad .width{

		font-size: 1em;
		font-weight: bold;
		color: #aaa;
		padding: 4px;
	}

	.margin-east, .margin-west{
		background: #ddd;
		color: #999;
		overflow:hidden;
	}

	.sidebar-dual{
		text-align: center;
		height: 100%;
		width: 50%;
		float:left;
	}
		.sidebar-dual .sidebar-dual-content{
			margin: 5px;
			height: 100%;
			background: #f7f7f7;
		}

	.gutter-west-open,.gutter-east-open{
	
		border-left: 1px dotted #5484C6;
		border-right: 1px dotted #5484C6;
		background: #CBE3FF;
	}

	.gutter-west-hover,.gutter-east-hover{
		border-left: 1px dotted #5484C6;
		border-right: 1px dotted #5484C6;
	}
	
	.pagelines-resizer-east, .pagelines-resizer-west{
			border-left: 1px dotted #5484C6;
			border-right: 1px dotted #5484C6;
			background: #CBE3FF;
		
	}


	
	.layoutinputs{
		font-size: 10px;
		padding: 1em 20px 1em 45px;
		background: #eee;
	}
		.layoutinputs input{margin-right: 30px;}
	
	
	
	/* Layout Selector */
	.layoutinput {display:none;}
	
	.layout-selections {
		width: 530px;
		padding: 1em 60px 1.6em 60px;
		margin: 10px;
		background: #e1e1e1;
		border: 1px solid #c1c1c1;
	}
	.layout-overview {
		font-size: 10px;
		color: #999;
		text-align: center;
		font-weight: bold;
		margin-bottom: 7px;
	}
	.layout-image-border {
		display: block;
		border: 1px solid #ccc;
		border-right: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		padding: 6px;
		background: #F3F3F4 url(../images/section-hover.png) repeat-x left bottom;
		float: left;
		margin-left: 20px;
		-moz-border-radius: 6px;
		-khtml-border-radius: 6px;
		-webkit-border-radius: 6px;
		border-radius: 6px;
	}
	.layout-image-border:hover {
		border: 1px solid #aaa;
		border-right: 1px solid #777;
		border-bottom: 1px solid #777;
		cursor: pointer;
	}
	.layout-image-border:active, .layout-image-border.selectedlayout {
		border: 1px solid #888;
		border-right: 1px solid #aaa;
		border-bottom: 1px solid #aaa;
		cursor: pointer;
		background: #bbb;
	}
	.layout-image {
		display: block;
		width: 50px;
		height: 50px;
		text-indent: -3333em;
	}
	
		.layout-image.fullwidth{
			background: url(../images/layout-sprite.png) no-repeat 0 0;
		}
		.layout-image.one-sidebar-right{
			background: url(../images/layout-sprite.png) no-repeat 0 -50px;
		}
		.layout-image.one-sidebar-left{
			background: url(../images/layout-sprite.png) no-repeat 0 -100px;
		}
		.layout-image.two-sidebar-right{
			background: url(../images/layout-sprite.png) no-repeat 0 -150px;
		}
		.layout-image.two-sidebar-left{
			background: url(../images/layout-sprite.png) no-repeat 0 -200px;
		}
		.layout-image.two-sidebar-center{
			background: url(../images/layout-sprite.png) no-repeat 0 -250px;
		}
		
	
/* @ Template Option */ 
	.tselect_label{
		font-size: .8em;
		font-weight: bold;
		display:block;
	}
	#wpcontent #thetabs .template_select{
	
		font-weight:bold;
		color: #333;
		padding: 5px;
		font-size: 1.5em;
		
		background: #fff;
		border: 1px solid #ddd;
	}
		.template_select option{
		
		}
/* @ Section Layout */
	#template_data{display: none;}

		.template-edit-panel{
			padding: 12px 10px;
		}
	
	#template_data.selected_template{
		display: block;
		border: 1px solid #ccc;
		background: #eee;
		width: 700px;
	}
	
	.sbank{
	
		background: #e1e1e1;
		border: 1px solid #d1d1d1;
		border-left: 1px solid #c1c1c1;
		border-top: 1px solid #c1c1c1;

		padding: 10px;
		margin: 1em;
		float:left;
		width: 292px;
	}
		.sbank ul {
			min-height: 50px;
			padding: 10px 0;
		}
		.sbank ul.nosections {
			background: url(../images/sections-none.png) no-repeat center center;
			border: 5px dashed #ccc;
			height: 150px;
		}
		.sbank li{
			padding: 25px;
			margin: 5px;
			border: 1px solid #ccc;
			border-right: 1px solid #aaa;
			border-bottom: 1px solid #aaa;
			-moz-border-radius: 4px;
			-khtml-border-radius: 4px;
			-webkit-border-radius: 4px;
			border-radius: 4px;
			
			background: #F3F3F4 url(../images/section-up.png) repeat-x left bottom;
		}
		.sbank li.section_bar:hover{
			background:#fff url(../images/section-hover.png) repeat-x left bottom;
			cursor: move;
		}

		#nested_sortable{
			background: #bbb;
			padding: 15px;
			margin: 1em;
		}
	
		.bank_title{
			font-size: .9em;
			color: #666;
			font-weight: bold;
			text-align: center;
			margin-bottom: 10px;
		}
		
		#template_data .editingtemplate{
			border-bottom: 1px solid #ccc;
			border-top: 1px solid #f7f7f7;
		
			background: #e1e1e1 url(../images/admin/pencil.png) no-repeat 8px 11px;
		}
		
			#template_data .edit_template_title{
				padding: 12px 12px 12px 32px; 
				font-size: 1.3em; 
				font-weight: bold;
				display: block;
				float: left;
				width: 370px;
			}
			
			#template_data .edit_template_title span{ color: #999; }
		
		.section_layout_description{
			height: 25px;
			line-height: 25px;
			
			padding: 8px;
			border-top: 1px solid #f7f7f7;
				border-bottom: 1px solid #bbb;
			background: #e1e1e1;
		}
		
		.config_title{
			font-weight: bold;
			
		}
		.section_layout_description .config_title{ 	
			width: 300px;
			float: left;
		}
			.section_layout_description .config_title span{ 	
				color: #aaa;
			}
		
		.layout-type-frame{
			font-weight: bold;
			float: right;
			width: 210px;
			height: 25px;
			line-height: 25px;
			color: #777;
		}
		.layout-type-thumb{
			width: 25px;
			height: 25px;
			float: left;
			margin-right: 15px;
			
		}
		
		.layout-type-standard .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 0;
		}
		.layout-type-header .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 -100px;
		}
		.layout-type-footer .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 -125px;
		}
		.layout-type-main .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 -25px;
		}
		.layout-type-sidebar .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 -50px;
		}
		.layout-type-morefoot .layout-type-thumb{
			background: url(../images/sprite-template.png) no-repeat 0 -75px;
		}
		
/* universal stuff */
	#tabs textarea{
		font-size: 11px;
		width: 94%;
	}
	#tabs textarea.longtext{
		height: 170px;
	}
	#tabs option {
		
			font-size: 1.1em;
		padding: 3px 6px;
	}
	#tabs .admin_checkbox {
		display: block;
		float: left;
		margin: 2px 12px 0 0px;
	}
	#tabs .regular-text {width: 90%;}
	.border{
		border: 1px solid #ddd;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
	}
	
	.hl, .hl2 {
		background: url(../images/hl-dot.gif) repeat-x top;
		clear: both;
		height: 2px;
		overflow: hidden;
		width: 100%;
	}
	
	.pagelines_image_preview{
		background: #fff;
		padding: 7px;
		border: 1px solid #ccc;
		margin-top: 7px;
	}
	
	.imagerow {
		border-top: 1px solid #ddd;
		border-bottom:1px solid #ddd;
		background: #eee;
		padding: 15px;
		margin: .5em 0 1em 0;
	}
	.alignright {
		float: right;
		margin-left: 15px;
		margin-bottom: 10px;
	}
	.alignleft {
		float: left;
		margin-right: 15px;
		margin-bottom: 10px;
	}
	
	.fix:after{content:".";display:block;height:0;clear:both;visibility:hidden;}
	.fix{display:inline-block;} 
	* html .fix{height:1%;}
	.fix{display:block;}

