@charset "utf-8";
/* CSS Document */

body {
	background-color: #00257b;
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center top;
	font-family: Verdana, Geneva, sans-serif;
}
h1 {
	margin: 5px;
	text-align: center;
	color: #CCC;
}

img {
	border: 0;
}

#contener {
	background-image: url(../images/bg_deg.png);
	background-repeat: repeat-x;
	background-position: 0px 100px;
	margin: auto;
	width: 1000px;
	min-height: 700px;
}
#header {
	height: 100px;
	background-image: url(../images/slogan.png);
	background-repeat: no-repeat;
	background-position: 286px 65px;
}
#logo {
	float: left;
	width: 390px;
}
#LANGUES {
	float: left;
	width: 250px;
	text-align: center;
	margin-left: 20px;
	color: #FFF;
}
#LANGUES A {
	color: #FFF;
	text-decoration: none;
}
#LANGUES A:hover {
	color: #999;
	background-color: #FFF;
}
#tel {
	float: right;
	width: 270px;
	text-align: right;
	color: #FFF;
	font-size: 24px;
}
#tel a {
	font-size: 24px;
	font-weight: bold;
	color: #FFF;
	text-decoration: none;
}
#navigation {
	background-image: url(../images/bg_nav.png);
	background-repeat: no-repeat;
	background-position: right top;
	width: 680px;
	padding: 0 0 0 50px;
	float: right;
	height: 40px;
	color: #FFF;
	text-align:center;
}
/*********************************/
			/* Menu horizontal (items flottants) */
			/*********************************/
			#nav {
				list-style: none ;
				margin: 0;
				padding: 0 ;
				overflow: hidden ;	/* Création du contexte de formatage */
				text-align:center;
				float:left;
				}
			#nav li {
				background-image:url(../images/separateur.png);
				background-repeat:no-repeat;
				background-position:left top;
				float: left ;
				/*width: 150px ;*/
				height:30px;
				margin-right: 1px ;
				padding: 5px 3px 0;
				color: #fff ;
				}
			#nav li a {
				display: block ;
				color: #FFF;
				font: 1em "Trebuchet MS",Arial,sans-serif ;
				line-height: 1em ;
				padding: 4px 10px;
				text-align: center ;
				height:25px;
				text-decoration: none ;
				font-size:16px;
				}
			#nav li a:hover, #nav li a:focus, #nav li a:active {
				}
#accueil 	{
	padding: 7px 20px;
	margin:0 0 0 25px;
	width:50px;
	height:25px;
	float:left;
}
#slide {
	height: 250px;
	margin: 50px 0 0 0;
}
#slide_left {
	background-image: url(../images/slide.png);
	background-repeat: no-repeat;
	background-position: left top;
	float: left;
	height: 250px;
	width: 700px;
}
#formations {
	float: right;
	height: 250px;
	width: 300px;
	background-image: url(../images/bg_nav_top.png);
	background-repeat: no-repeat;
	background-position: center 65px;
}
#nav_formations {
	background-image: url(../images/titre_formation.png);
	background-repeat: no-repeat;
	background-position: center top;
	height: 225px;
	margin-top: 25px;
	width: 250px;
	margin-right: auto;
	margin-left: auto;
}
#middle {
	margin: auto;
	width: 987px;
	background-image: url(../images/de_middle.png);
	background-repeat: repeat-x;
	background-position: 0px 50px;
}
#middle_left {
	background-image: url(../images/deg_border.png);
	background-repeat: no-repeat;
	background-position: left 50px;
}
#middle_right {
	background-image: url(../images/deg_border.png);
	background-repeat: no-repeat;
	background-position: right 50px;
	padding-top: 50px;
}
.clear {
	clear: both;
}

#footer {
	background-image: url(../images/bg_bas.png);
	background-repeat: no-repeat;
	margin: auto;
	height: 27px;
	width: 987px;
}
#footer_left {
	color: #CCC;
	text-transform: uppercase;
	float: left;
	width: 300px;
	margin-left: 25px;
	margin-top: 5px;
}
#footer_right {
	color: #CCC;
	text-transform: uppercase;
	float: right;
	width: 300px;
	margin-top: 5px;
	margin-right: 25px;
	text-align: right;
}

#blocs {
	float: left;
	width: 780px;
	padding-left: 5px;
}
.bloc {
	float: left;
	width: 253px;
	margin-right: 5px;
	min-height: 250px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCC;
}

#connexion {
	float: right;
	width: 200px;
	background-image: url(../images/titre_connexion.png);
	background-repeat: no-repeat;
	background-position: center top;
	min-height: 200px;
	margin-top: 25px;
}

.contenu_bloc {
	padding-right: 5px;
	padding-left: 5px;
	margin: auto;
	width: 240px;
	color: #CCC;
}
