#nav-back {background:url("nav-back-green.png") repeat-x left bottom;}
#access a {color:#a7f595;text-shadow:1px 1px 0 #456d41;}

#access ul ul a {background:#578254;border-bottom-color:#659762;} 
#access li:hover > a,
#access ul ul :hover > a {color: #fff;}
#access li.current_page_parent li a,
#access li.current_page_item ul li a, 
#access li.current_page_ancestor li.page_item a,
#access li.current_page_parent li.current_page_item .page_item a, 
#access li.current_page_ancestor li.current_page_ancestor li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a {color:#a7f595;text-shadow:1px 1px 0 #456d41;background:#578254;}

#access li.current_page_parent li a:hover,
#access li.current_page_item ul li a:hover,
#access li.current_page_ancestor li.page_item a:hover, 
#access li.current_page_parent li.current_page_item a,
#access li.current_page_ancestor li.current_page_parent a,
#access li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_parent li.current_page_item .page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor a,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_item li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.page_item a:hover,
#access li.current_page_ancestor li.current_page_ancestor li.current_page_ancestor li.current_page_item a {
	color: #fff;
  background:#62b25c;
  }
