.wrap{ background:#f1f1f1;-moz-border-radius:5px; -webkit-border-radius:5px;-khtml-border-radius:5px;border-radius:5px; border:1px solid #eaeaea; width:780px; padding:10px; float:left; color:#666; margin-top:10px; margin-left:15px; background:url(../images/control_panel.png) repeat;}
.wrap a{color:#777;text-decoration:none;}
#control_panel_header{ width:783px; height:69px; float:left;}
#control_logo{ float:left; margin-right:60px;}
#control_logo a{ width:95px; height:66px; float:left; background:url(../images/control_logo.png) no-repeat; margin-top:-15px; display:block; text-indent:-9999px; margin-left:10px;}
#control_panel_header ul{ float:left; margin:0; padding:0; margin-left:20px; margin-top:-10px; background:url(../images/control_nav.png) repeat-x;-moz-border-radius:0 0 7px 7px; -webkit-border-radius:0 0 7px 7px;-khtml-border-radius:0 0 7px 7px;border-radius:0 0 7px 7px;}
#control_panel_header ul li{ float:left; padding:10px 15px; background:url(../images/control_nav_break.png) right no-repeat; height:27px;}
#control_panel_header ul li a{ color:#FFF; text-decoration:none; display:block; margin-top:2px;}
#control_panel_header ul li span{ display:block; width:33px; height: 33px; margin:0 auto; text-indent:-99999px; cursor:pointer;}
#control_panel_header ul li.active a, #control_panel_header ul li.active span{ opacity:1!important;}
#control_panel_header ul .tab_upg{ background:#98e12f!important; margin-bottom:0; padding-bottom:15px;-moz-border-radius:0 0 5px 0; -webkit-border-radius:0 0 5px 0;-khtml-border-radius:0 0 5px 0;border-radius:0 0 5px 0;}

.tab_option{ width:600px; float:right;}
.submit{ clear:both; float:right;}
.tab_sub_menu{ width:150px; float:left; margin-top:20px; margin-left:-15px;}
.tab_sub_menu li{width:144px; height:24px; padding-top:4px; padding-left:14px;}
.tab_sub_menu .active{background:url(../images/control_sub_menu.png) no-repeat; width:140px; height:20px;}
.tab_sub_menu li a{color:#999;}
.tab_sub_menu .active a{ color:#fff;}
.reset_btn{ padding:2px 7px; background:#fff; color:#999;-moz-border-radius:10px; -webkit-border-radius:10px;-khtml-border-radius:10px;border-radius:10px; float:left; border:1px solid #999; margin-top:10px; cursor:pointer;}
.tab{ float:float; height:500px;}


#compare{ width:590px;}
#compare .head{ background:#c6c6c6 url(../images/row1.png) repeat-x; text-align:center;}
#compare .feat{ background:#c6c6c6 url(../images/row1.png) repeat-x; text-align:center; color:#fff;}
#compare .lite{ background:#ecfeff url(../images/row2.png) repeat-x; text-align:center;}
#compare .pro{ background:#fdf449 url(../images/row3.png) repeat-x; text-align:center;}
#compare .yes{ width:16px; height:16px;display:block; text-indent:-99999px; background:url(../images/tick.png) no-repeat; margin:0 auto; margin-top:10px;}
#compare .no{ width:16px; height:16px;display:block; text-indent:-99999px; background:url(../images/cross.png) no-repeat; margin:0 auto; margin-top:10px;}


