html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol {
	list-style: decimal;
}
ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

:focus { outline: 0; }

/* per request */
sub { vertical-align: bottom; }
sup { vertical-align: top; }

html {
	width: 100%; height: 100%;
	margin-bottom: 1px;
}

body {
	padding-top: 22px;
	background-repeat: repeat-x;
}

a,
a:link,
a:visited,
a:active { text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
}

input[type="file"], input[type="button"], input[type="submit"], input[type="reset"], select {

}





textarea, input[type="text"], input[type="password"], input[type="submit"] {
	border: 0;
	font-family: inherit;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: left top;
}

textarea {
	width: 415px; height: 180px;
	padding: 10px;
}

#respond textarea {
	width: 612px;
}

.comment #respond textarea {
	width: 415px;
}

input[type="text"], input[type="password"] {
	width: 194px; height: 16px;
	padding: 8px 10px 10px 10px;
}

form.wide input[type="text"], form.wide input[type="password"], .one textarea {
	width: 276px;
}

.page-template-template-contact-php .entry .one textarea {
	width: 415px;
}

#popup-wrapper input[type="text"], #popup-wrapper input[type="password"] {
	width: 194px;
}

input[type="password"][name="post_password"] { margin-bottom: 5px; }

input[type="submit"] {
	width: 76px; height: 34px;
	padding: 0;
	cursor: pointer;
	text-indent: -999999px;
}

input[type="submit"]:hover {
	background-position: 0 -34px;
}

.registerform input[type="submit"] { width: 147px; }



/* Table Styles */

.widget_text table,
.widget_calendar table,
.entry table,
.comment table {
	width: 100%;
	margin: 15px 0;
}

.widget_text th.nobg,
.entry th.nobg {
	border: 0;
	background: none;
}

.widget_text th,
.widget_calendar th,
.entry th,
.comment th,
.comment td.label {	
	text-transform: uppercase;
	text-align: center;
	padding: 12px;
	background-color: #e5ecee;
	background-repeat: repeat-x;
	background-position: left top;
}

.comment td.label {
	width: 10%;
	white-space: nowrap;
}

.widget_text th.spec, .widget_text th.specalt,
.entry th.spec, .entry th.specalt {
	font-size: 12px;
	text-transform: none;
}





.widget_text td,
.widget_calendar td,
.entry td,
.comment td {
	padding: 12px;
	text-align: center;
	font-size: 12px;
}

table span.tick, table span.cross {
	display: inline-block;
	width: 17px; height: 14px;
	text-indent: -999999px;
	background: url(../images/ico-tick.png) no-repeat left top;
}

table span.cross {
	background: url(../images/ico-x.png) no-repeat left top;
}



.widget_calendar caption {
	margin-bottom: 5px;
	font-weight: bold;
}

.widget_calendar th {
	padding: 5px 0;
}

.widget_calendar td {
	padding: 3px 0;
}








pre {
	margin: 15px 0;
	overflow: auto;
}

code, pre {
	padding: 5px 10px;
	font-size: 12px;
}

blockquote {
	margin: 15px 0; padding-left: 12px; 
	font-style: italic;
}





dl {
	margin: 15px 0;
	width: 100%;
	overflow: hidden;
}

dt {
	float: left;
	width: 30%;
	margin-bottom: 5px;
	font-weight: bold;
}

dd {
	float: left;
	width: 70%;
	margin-bottom: 5px;
}

.post .entry ol, .post .entry ul, .comment .text ol, .comment .text ul, .textwidget ol, .textwidget ul, #side .widget.widget_text ul, #content form.ajax ul, .post .entry p, #content .widgetized p, .comment .text p {
	margin: 15px 0; border: 0;
}
.post .entry ol, .comment .text ol, .textwidget ol { margin-left: 20px; }
.post .entry li, .comment .text li, .textwidget li, #content .widgetized li { line-height: 22px; }
.post .entry ul li, .comment .text ul li, #side .widget.widget_text ul li, #content form.ajax ul li {
	padding: 0 0 0 15px; border: 0; background-repeat: no-repeat; background-position: 0 7px;
}



/* Done */
/* Images */

img.thumb.small, img.avatar, .entry img, .comment .text img, #features img.thumb {
	padding: 4px;
	border-radius: 4px; -moz-border-radius: 4px; -webkit-border-radius: 4px;
}

.widgetized img.thumb.small, .widgetized img.avatar {
	float: left;
	margin: 2px 10px 0 0;
}

img.thumb.medium {
	float: left;
	margin-right: 15px;
}

img.wp-smiley {
	padding: 0;
	border: 0 !important;
	border-radius: 0; -moz-border-radius: 0; -webkit-border-radius: 0;
	background-color: transparent !important;
}

img.wp-smiley:hover {
	background-color: transparent !important;
}

.wide .entry img {
	max-width: 960px;
}

/* Gallery */

.gallery-item {
	float: left;
	width: 33%;
	margin: 0 0 15px 0;
}

.gallery-icon, .gallery-caption, .wp-caption-text {
	float: none;
	width: auto;
	margin: 0 !important;
	text-align: center !important;
}

.gallery-caption {
	margin-top: 5px !important;
}

/* Aligns */

.alignnone {
	float: none;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 15px auto;
}

.alignleft {
	float: left;
	margin-right: 15px;
}

.alignright {
	float: right;
	margin-left: 15px;
}

/* Helpers */

.left { float: left; }
.right { float: right; }

.clear { clear: both; }
* html .clear { height: auto; }

/* Done */





/* Structure */

.wrap {
	width: 970px; margin: 0 auto;
}

#header {
	border: 0; padding: 25px 0;
	background-repeat: no-repeat;
}

#header h1 { margin: 0; }

#content {
	padding: 35px 0 0 0;
	display: block;
	position: relative;
	background-repeat: repeat-x;
	background-position: top;
}

#main {}

#content p {
	line-height: 24px;
}

#main.wide {
	width: 100%;
}

#main.wide .post .title h2 {
	width: 838px;	
}

#side {
	width: 296px;
}

.one {
	width: 296px;
}

.two {
	width: 632px;
}

.three {
	width: 970px;
}

.page-template-template-contact-php .entry .one {
	width: inherit;
}

#footer {
	clear: both; overflow: hidden;
	padding: 55px 0 35px 0;
	background-repeat: repeat-x;
	background-position: top;
	font-size: 11px;
	line-height: 22px;
}

#style0 #footer input, #style0 #footer textarea {
	color: #8B9CAE;
}

#footer .block {
	float: left;
	width: 300px;
	margin-right: 35px;
}

#footer .block.last {
	float: right;
	margin-right: 0;
}

#footer a.logo {
	width: 133px; height: 29px;
	float: right;
	text-indent: -999999px;
	background: url(../images/megathemes.png) no-repeat left top;
}

#footer a.logo:hover { border: 0; }