#nav {
	background-repeat: no-repeat;
	background-position: bottom;
}

#nav .logo {
	float:left; padding: 0; margin-top: 2px;
	padding-right: 18px;
	background-position: right 2px;
	background-repeat: no-repeat;
}

#nav .logo a {
	display: block;
	padding: 10px 0 4px 0;
}

#nav .logo.image a {
	display: block;
	padding: 0;
}

#nav .loop {
	background-repeat: repeat-x;
	margin: 0 auto;
}

#nav .fill {
	padding: 0 6px;
}

#nav .head {
	height: 5px; line-height: 5px;
}

#nav .foot {
	height: 5px; line-height: 5px;
	clear: both;
}

#nav h1 a.text {
	display: block;
	text-indent: 35px;
	text-transform: lowercase;
	font: bold 27px/39px Arial, Helvetica, sans-serif;
	letter-spacing: -1px; margin-bottom: -11px;
	background-repeat: no-repeat;
	background-position: 0 8px;
}

#nav .tools {
	float: right;
	padding-left: 17px;
	background-repeat: no-repeat;
	background-position: 0;
}

#nav .tools ul {
	position: relative; z-index: 10;
	height: 27px;
	background-repeat: no-repeat;
	background-position: top right;
}

#nav .tools li { padding-right: 0; }

#nav .toplevel {
	text-transform: lowercase;
}

#nav .feeds {
	padding-left: 22px;
	background-repeat: no-repeat;
	background-position: 0 7px;
}

#nav .login {
	padding-left: 18px; margin-left: 10px;
	background-repeat: no-repeat;
	background-position: 0 7px;
}

#nav .tools a:hover { background-position: 0 -39px; }

#nav ul { display: block; padding-top: 5px; padding-bottom: 6px; list-style: none; }

#nav .menu ul {  }

#nav ul ul, #nav ul ul * { padding: 0; }

#nav ul ul { position: absolute; top: -999em; width: 170px; /* left offset of submenus need to match (see below) */ }
#nav ul ul li { width: 170px; }
#nav ul li:hover { visibility: inherit; /* fixes IE7 'sticky bug' */ }
#nav ul li { display: inline-block; position: relative; zoom: 1; *display: inline; }
#nav ul li:hover ul, #nav ul li.sfHover ul { left: 0px; top: 25px; /* match top ul list item height */ z-index: 99; }
#nav ul li:hover li ul, #nav ul li.sfHover li ul { top: -999em; }
#nav ul li li:hover ul, #nav ul li li.sfHover ul { left: 170px; /* match ul width */ top: 0; }
#nav ul li li:hover li ul, #nav ul li li.sfHover li ul { top: -999em; }
#nav ul li li li:hover ul, #nav ul li li li.sfHover ul { left: 170px; /* match ul width */ top: 0; }

#nav ul a {
	position: relative;
	display: block;
	font-size:16px;
	padding: 3px 5px 4px 15px;
	text-decoration:none;
	font-style:normal;
	font-weight:normal;
	border: 0;
}

#nav .current_page_parent a.toplevel, #nav .current_page_item a.toplevel { font-weight: bold; }
#nav ul a:focus, #nav ul a:hover, #nav ul a:active { outline: 0; }

#nav ul li img { border: 0; }

#nav ul li {
	font-size:12px;
	padding-right:10px;
	font-weight:normal;
}

#nav ul li ul li ul { padding-top: 0; }
#nav ul li li { width: 170px; font-size: 12px; }

#nav ul li ul {
	margin-top: -1px;
}

#nav ul li li a {
	font-size: 12px;
	font-weight: normal;
	padding-top: 5px;
	padding-left: 15px;
	line-height: 20px;
	padding-bottom: 7px;
	overflow: hidden; /*fix for overflow */
}

/*** arrows **/
#nav ul a.sf-with-ul {
	padding-right: 1.3em;
	min-width: 1px; /* trigger IE7 hasLayout so spans position accurately */
}

.sf-sub-indicator {
	display: block;
	position: absolute;
	margin-top: 0px;
	right: 0; top: 1.05em; /* IE6 only */
	width: 15px; height: 15px;
	text-indent: -999em;
	overflow: hidden;
	background-repeat: no-repeat;
	background-position: 3px -3px;
}

#nav ul ul .sf-sub-indicator {
	right: 8px;
}

a > .sf-sub-indicator { top: 5px; background-position: 0px 0px; }
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator { background-position: -0px -15px; /* arrow hovers for modern browsers*/ }

/* point right for anchors in subs */
#nav ul ul .sf-sub-indicator { background-position: -10px 10px;  }
#nav ul ul a > .sf-sub-indicator { background-position: 0 -30px; top: .7em;}

/* apply hovers to modern browsers */
#nav ul ul a:focus > .sf-sub-indicator,
#nav ul ul a:hover > .sf-sub-indicator,
#nav ul ul a:active > .sf-sub-indicator,
#nav ul ul li:hover > a > .sf-sub-indicator,
#nav ul ul li.sfHover > a > .sf-sub-indicator { background-position: -0px -45px; /* arrow hovers for modern browsers*/ }