@font-face {
    font-family: 'YanoneKaffeesatzRegular';
    src: url('../fonts/yanone_kaffeesatz/yanonekaffeesatz-regular-webfont.eot');
    src: url('../fonts/yanone_kaffeesatz/yanonekaffeesatz-regular-webfont.eot?iefix') format('eot'),
         url('../fonts/yanone_kaffeesatz/yanonekaffeesatz-regular-webfont.woff') format('woff'),
         url('../fonts/yanone_kaffeesatz/yanonekaffeesatz-regular-webfont.ttf') format('truetype'),
         url('../fonts/yanone_kaffeesatz/yanonekaffeesatz-regular-webfont.svg#webfontiVAlVXNY') format('svg');
    font-weight: normal;
    font-style: normal;

}

	
h1, h2, h3, h4, h5, h6, #topmenu ul li a, #related .post_title, .ribbon, .trigger, .scl_button a, .fourofour a, .scl_wgt_tt{ font-family: 'YanoneKaffeesatzRegular'; letter-spacing: 0.1em; font-weight: normal!important;}
h1{ font-size:40px; }
h2{font-size:24px;}
h3{font-size:18px;}
h4{font-size:18px;}
h5{font-size:14px;}
h6{font-size:12px;}
.postitle a{font-size:18px;}
.single_page_post .postitle a{ font-size:24px;}
#topmenu ul li a, #related .post_title, #submit_msg, #submit{font-family: 'YanoneKaffeesatzRegular'!important;font-size:15px!important;}

