/* DARK STYLESHEET */

#wrapper { background-color: #070707; border-top: 3px #000 solid; text-shadow: #070707 1px 1px; }
#header { background-color: #070707; text-shadow: #070707 1px 1px; }
.main-menu { background-color: #111; text-shadow: #111 1px 1px; letter-spacing: -1px; font-weight: 700; }
.main-menu ul li a { background-color: #111; color: #fff; }
.main-menu ul li a:hover { background-color: #ff8000; text-shadow: #ff8000 1px 1px; }
.main-menu ul .current-menu-item a, .main-menu ul .current_page_item a { background-color: #222; text-shadow: #222 1px 1px; }
.widget { color: #999; font-size: 13px; }
.widget a { color: #999; }
.widget a:hover { color: #fff; }
.widget #s { background: #111 url(images/search_icon.png) no-repeat left center; color: #777; border-color: #222; text-shadow: #111 1px 1px; }
.widget #s:focus { background-color: #070707; text-shadow: #070707 1px 1px; }
.widget-title { background: url(images/widget_title_pattern.png) repeat-x bottom left; color: #ccc; }
#wp-calendar td, #wp-calendar th, #wp-calendar caption { border-color: #111; }
#wp-calendar #today { background-color: #070707; }
.widget_tag_cloud a { background-color: #111; color: #fff; text-shadow: #111 1px 1px; }
.widget_tag_cloud a:hover { background-color: #ff8000; color: #fff; text-shadow: #ff8000 1px 1px; }
.widget-tab { background-color: #111; text-shadow: #111 1px 1px; border-color: #151515; }
.widget-tab:first-child { border-left-color: #151515; }
.current-tab { background-color: #070707; text-shadow: #070707 1px 1px; border-bottom-color: #070707; }
#crumbs { color: #555; }
#crumbs a { color: #555; }
.entry-title { color: #ccc; border-bottom-color: #333; }
.entry-title a { color :#ccc; }
.entry-info { background-color: #111; text-shadow: #111 1px 1px; color: #444; }
.entry-info a { color: #444; }
.entry-info a:hover { color: #fff; }
.entry-date { background: url(images/date_icon.png) no-repeat left center; }
.entry-author { background: url(images/author_icon.png) no-repeat left center; }
.comments-link { background: url(images/comments_icon.png) no-repeat left center; }
.post-edit-link { background: url(images/edit_icon.png) no-repeat left center; }
.entry-content { color: #999; }
.entry-content a { color: #ff8000; }
.entry-content a:hover { text-decoration: underline; }
.entry-content .more-link { color: #555; }
.entry-content .more-link:hover { color: #fff; text-decoration: none; }
.entry-content .page-link span, .entry-content .page-link a:hover span { background-color: #ff8000; color: #fff; text-shadow: #ff8000 1px 1px; }
.entry-content .page-link a span { background-color: #222; color: #777; text-shadow: #222 1px 1px; }
.entry-content .page-link .pages-title { color: #777; background-color: #222; text-shadow: #222 1px 1px; }
.entry-content blockquote { background: url(images/quote_icon.png) no-repeat top left; }
.entry-content table { border-color: #444; }
.entry-content table td, .entry-content table th { border-color: #444; }
.entry-content table caption { border-color: #444; }
.entry-content table th { background-color: #333; text-shadow: #333 1px 1px; }
.entry-content input[type="text"], .entry-content input[type="password"], .entry-content textarea { border-color: #252525; background-color: #151515; color: #555; }
.entry-content input[type="submit"], .entry-content input[type="reset"], .entry-content input[type="button"] { background-color: #222; border-color: #222; color: #fff; text-shadow: #222 1px 1px; }
.entry-content input[type="submit"]:hover, .entry-content input[type="reset"]:hover, .entry-content input[type="button"]:hover { background-color: #ff8000; border-color: #ff8000; text-shadow: #ff8000 1px 1px; }
.entry-utility { border-top-color: #444; color: #555; }
.entry-utility a { color: #555; }
.entry-utility a:hover { color: #fff; }
.wp-caption img, .entry-attachment img, .gallery-thumb img, .gallery-item img { border-color: #151515; }
.post-navigation a { background-color: #222; color: #666; text-shadow: #222 1px 1px; }
.post-navigation a:hover { background-color: #ff8000; color: #fff; text-shadow: #ff8000 1px 1px; }
.navigation a { background-color: #222; color: #666; text-shadow: #222 1px 1px; }
.navigation a:hover, .navigation .current { background-color: #ff8000; color: #fff; text-shadow: #ff8000 1px 1px; }
#footer-widget-area { background-color: #000; border-top-color: #222; text-shadow: #000 1px 1px; }
#footer-widget-area .current-tab { background-color: #000; border-bottom-color: #000; }
#footer-credits { color: #444; background-color: #151515; border-top-color: #222; text-shadow: #151515 1px 1px; border-bottom-color: #000; }
#footer-credits a { color: #ff8000; }
#footer-credits a:hover { text-decoration: underline; }
#comments-title { color: #ccc; }
.comment-navigation a { background-color: #222; color: #666; text-shadow: #222 1px 1px; }
.comment-navigation a:hover { background-color: #ff8000; color: #fff; text-shadow: #ff8000 1px 1px; }
.comment-meta, .comment-ping { color: #555; }
.comment-meta a, .comment-ping a { color: #ff8000; }
.comment-meta a:hover, .comment-ping a:hover { text-decoration: underline; }
.comment-status, .comment-info { color: #444; }
.comment-status a, .comment-info a { color: #ff8000; }
.comment-status a:hover, .comment-info a:hover { text-decoration: underline; }
.comment-content { color: #999; }
.comment-content a { color: #ff8000; }
.comment-content a:hover { text-decoration: underline; }
.comment-content blockquote { background: url(images/quote_icon.png) no-repeat top left; }
.comment-content table { border-color: #444; }
.comment-content table td, .comment-content table th { border-color: #444; }
.comment-content table caption { border-color: #444; }
.comment-content table th { background-color: #333; text-shadow: #333 1px 1px; }
.commentlist li.even { background-color: #151515; text-shadow: #151515 1px 1px; }
#respond { color: #777; font-size: 13px; }
#respond a { color: #ff8000; }
#respond a:hover { text-decoration: underline; }
#reply-title { background: url(images/widget_title_pattern.png) repeat-x bottom left; color: #777; }
#commentform input, #commentform textarea { background-color: #000; border-color: #222; color: #777; }
#commentform input[type="button"], #commentform input[type="reset"], #commentform input[type="submit"] { background-color: #333; border-color: #333; color: #999; text-shadow: #333 1px 1px; }
#commentform input[type="button"]:hover, #commentform input[type="reset"]:hover, #commentform input[type="submit"]:hover { background-color: #ff8000; color: #fff; border-color: #ff8000; text-shadow: #ff8000 1px 1px; }