@charset "utf-8";
/* CSS Document */
#conteneur {
	margin: 0px;
	background-image: url(img/bg.jpg);
	background-repeat: repeat-x;
}
#header {
	height: 41px;
	border: thin solid #000000;
}
#contenu {
	width: 707px;
	float: left;
	height:700px;
	border: 1px solid #000000;
	background-color: #CCCCCC;
}
#menu {
	float: right;
	width: 228px;
	height:700px;
	border: 1px solid #000000;
	background-color: #CCCCCC;
}
#footer {
	border: 1px solid #000000;
	background-color: #CCCCCC;

}
#menu td {
	width:190px;
border-bottom:1px solid black;
letter-spacing:0.3em;
line-height:40px;
background:#c0c0c0;

}
#header td {border-right: 1px solid #000;
}