#logo, #sidebar ul li h2 {
	background-color: #209106;
}
#navi, #navi ul li ul {
	background-color: #0b6613;
}
.type-page .page-title, .post .post-title, .attachment .post-title {
	color: #0b6613;
}
.post .post-title a:link, .post .post-title a:visited {
	color: #0b6613;
}
a, a:link, a:visited {
	color: #0b6613;
}